*
{
	border: 0;
	margin: 0;
	padding: 0;
}

/* =Basic HTML, Non-essential
----------------------------------------------------------------------*/

a
{
	text-decoration: none;
}

body {	
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #666666;
    background: #000000 url(images/bg.jpg) no-repeat top center fixed;

}

h1
{
	background: inherit;
	border-bottom: 1px dashed #ccc;
	color: #933;
	font: 17px Georgia, serif;
	margin: 0 0 10px;
	padding: 0 0 5px;
	text-align: center;
}

p
{
	clear: both;
	font: 10px Verdana, sans-serif;
	padding: 10px 0;
	text-align: center;
}

p a
{
	background: inherit;
	color: #777;
}

p a:hover
{
	background: inherit;
	color: #000;
}

#menu{
	width: 1060px;
	height: 70px;
	background: url(images/menu_bg.png) no-repeat;

}

#menu ul{
	padding-left: 0px;
    list-style: none;
	padding: 0px 0px 0px 0px;
	margin: 0 auto;
	width: 1060px;
}

#menu ul li{
	display: inline;

}

#menu ul li a{
	font: 20px Arial, Helvetica, sans-serif;
    color: #ffffcc;
    font-weight: normal;
    text-decoration: none;
	text-align: center;
    display: block;
    float: left;
    width: 145px;
    height: 41px;
	padding-top: 15px;
}

#menu ul li a:hover,  #menu ul li .active{
	background: url(images/active.png) center;
}

/* =Hoverbox Code
----------------------------------------------------------------------*/

.hoverbox
{
	cursor: default;
	list-style: none;
}

.hoverbox a
{
	cursor: default;
}

.hoverbox a .preview
{
	display: none;
}

.hoverbox a:hover .preview
{
	display: block;
	position: absolute;
	top: -33px;
	left: -45px;
	z-index: 1;
}

.hoverbox img
{
	background: #fff;
	border-color: #aaa #ccc #ddd #bbb;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	padding: 2px;
	vertical-align: middle;
	vertical-align: middle;
	width: 184px;
	height: 124px;
}
.hoverbox li
{
	background: #eee;
	border-color: #ddd #bbb #aaa #ccc;
	border-style: solid;
	border-width: 2px;
	color: inherit;
	display: inline;
	float: left;
	margin: 5px;
	padding: 3px;
	position: relative;
}

.hoverbox .preview
{
	border-color: #000;
	width: 410px;
	height: 289px;
}